name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run lint
    - run: npm run build
    
    - name: Package XDC
      run: |
        cd dist
        zip -r ../connect4-game.xdc *

    - name: Upload XDC Artifact
      uses: actions/upload-artifact@v4
      with:
        name: connect4-game-xdc
        path: connect4-game.xdc
